


{% block content %}

	         

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h2 class="font-weight-bold mt-3">Reset Password</h2>
		<hr>
		<p>Olvidaste tu contraseña? ingresa tu email para enviarte las instrucciones:</p>
        <form method="POST">
            {% csrf_token %}
			{% for message in messages %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}  

            <input type="text" name="email" >                    
            <button class="btn btn-primary" type="submit">Send email</button>
        </form>
  	</div> 

{% endblock %}