{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mitr:wght@300&display=swap" rel="stylesheet">
       
    <title>Registro</title>
    <link href="{% static '/register.css' %}" rel="stylesheet"
</head>
<body>
    <div class="container">
        <h1 >Crear cuenta</h1>
        <p class="parraf">Porfavor registrate en el siguiente formulario:</p>
        <form method="post">
        {{ user_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Crear cuenta"></p>
        </form>
    </div>
    <h1 class="appName">TalitaApp</h1> 
    
    
</body>
</html>