{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'register.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <div class="message">
        <h2> Te has registrado exitosamente!</h2>
        <p>Puedes ingresar <a href="{% url 'talitaApp:login' %}">aquí</a></p>
    </div>
    
</body>
</html>